body {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  body {
    font-family: sans-serif;
    color: white;
  }
  div {
    display: block;
    unicode-bidi: isolate;
}
span{
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}