body {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  body {
    font-family: sans-serif;
    color: white;
  }
  div {
    background-color: red;
    margin-left: 145.5px;
    margin-right: 145.5px;
}
span{
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}